# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps
config/tts

# Specific file ignores
config/*.crt
config/*.key
config/*.crl
config/*.pem
config/options.xml
config/secrets.yaml
config/*.csr
config/mqtt-ca.srl
config/client.csr
